.product-container {
  display: flex;
  width: 1000px;
  border: solid 1px #e6e6e6;
  background-color: #fff;
  box-shadow: 0 1px 4px #0000000d;
  padding: 20px;
  margin-top: 4rem;
  gap: 2rem;
  height: 700px;
}

.imgBox {
  width: 55%;
  height: 100%;
  border-radius: 6px;
  border: solid 1px #e6e6e6;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-bottom: 5rem;
}

.imgBox img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content-box {
  width: 55%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.brandText {
  font-size: 1.2rem;
}

.brand {
  font-weight: 600;
  margin-right: 0.4rem;
}

.brand:hover {
  cursor: pointer;
  text-decoration: underline;
}

.sellerText {
  font-size: 0.9rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1px;
}

.seller {
  color: #66676a;
}

.brandSpan {
  color: #4b91e2;
  cursor: pointer;
}

.tick {
  max-width: 15px;
  cursor: pointer;
}

.price {
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: #f27a1a;
}

.collections {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-top: 20px;
  align-self: flex-end;
  font-size: 0.9rem;
  padding-bottom: 10px;
  cursor: pointer;
}

.collections:hover {
  color: #f27a1e;
}

.bookmark {
  color: #f27a1a;
  position: relative;
  top: 2px;
}

.line {
  width: 100%;
  margin-top: 1rem;
  height: 1px;
  background-color: #e6e6e6;
  margin-bottom: 1rem;
}

.image-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 1rem;
}

.mini-photo {
  width: 50px;
  height: 52px;
  overflow: hidden;
  margin-right: 10px;
  border: 1px solid #e6e6e6;
  cursor: pointer;
}

.button-div {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.cart-btn {
  flex: 5;
  padding: 15px 30px;
  background-color: #f37a1b;
  border: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}

.cart-btn:hover {
  opacity: 0.9;
}

.fav-btn {
  flex: 1;
  background-color: #fff;
  outline: none;
  border: none;
  border: 1px solid #e6e6e6;
  cursor: pointer;
  border-radius: 6px;
}

.fav-btn.selected {
  background-color: #f27a1e;
  border: 1px solid #f27a1a;
  color: #fff;
}

.heart-icon {
  height: 25px;
}

.fav-btn:hover > .heart-icon {
  color: #f37a1b;
}

.list {
  margin-top: 10px;
  list-style: none;
  font-size: 0.8rem;
}

.list li::before {
  content: "\2022";
  color: gray;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.list li {
  margin-bottom: 6px;
}

.clickText {
  text-decoration: underline;
  color: gray;
  cursor: pointer;
}

.brandName {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  padding: 0 3px;
}
