.navbar {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
}

.cart-length-container {
  display: flex;
  margin-top: 3px;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding-bottom: 2px;
  padding-top: 1px;
  border-radius: 50%;
  background-color: orange;
}

.cartLength {
  color: #fff;
  font-size: 15px;
}

.imgBox {
  max-width: 13%;
  padding-top: 3px;
  cursor: pointer;
}

.cart-div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.imgBox img {
  width: 100%;
}

.inputBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  border-radius: 10px;
  background-color: #f3f3f3;
  padding: 0 10px;
  border: 2px solid rgba(0, 0, 0, 0);
}

.inputBox input {
  width: 100%;
  outline: none;
  border: none;
  padding: 12px;
  background-color: #f3f3f3;
  font-size: 14px;
}

.search-icon {
  color: orange;
  height: 1.3rem;
}

.list {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 15px;
  position: relative;
}

.user-div-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.user-div {
  cursor: pointer;
}

.dropdown {
  display: none;
  font-weight: 400;
  background-color: #fff;
  box-shadow: 0 3px 10px 0 rgb(0 0 0 / 7%);
  border-radius: 6px;
  position: absolute;
  z-index: 999999;
  right: -62px;
  width: 196px;
  height: auto;
  top: 1.5rem;
  left: -50px;
}

.dropdown::before {
  bottom: 100%;
  left: 45%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.dropdown::after,
.dropdown::before {
  border-color: rgba(230, 230, 230, 0);
  border-bottom-color: #e6e6e6;
  border-width: 9px;
  margin-left: -9px;
}

.user-div-dropdown {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 15px;
}

.user-div:hover > .dropdown {
  display: block;
}

.login-btn {
  display: block;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 5px 3px;
  background-color: orangered;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.login-btn:hover {
  opacity: 0.8;
}

.register-btn {
  display: block;
  width: 150px;
  margin: 0 auto;
  padding: 5px 3px;
  background-color: #fff;
  font-weight: 600;
  color: gray;
  border: solid 1px #dedede;
  border-radius: 8px;
  cursor: pointer;
}

.register-btn:hover {
  opacity: 0.9;
}

.listItem:hover {
  color: orange;
  cursor: pointer;
}

.list li {
  display: flex;
  gap: 7px;
  cursor: pointer;
  align-items: center;
  transition: all 0.3s;
}

.list-icon {
  transition: all 0.3s;
}

.list li:hover {
  color: orange;
}

.list li:hover .list-icon {
  color: orange;
}
